# Verify your email 💌

Hi {{name}} 👋,

Fantastic news! Someone (hopefully you) requested a link to confirm your email, so here you go.

🚀 **[Verify my email]({{ link }})** 🌈

Your magical verification code is: **{{code}}** ✨

Note that this link is like a shooting star and will only sparkle for {{ time }}. If you didn't request this email, you can just chill and enjoy the emoji party. 🎉

Cheers,
Your Awesome App Team 🚀